---
# Włączamy potężne grupy analiz (plus oznacza włączenie, minus wyłączenie)
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  concurrency-*,
  misc-*,
  cert-*,
  google-readability-casting,
  -cppcoreguidelines-owning-memory,
  -readability-magic-numbers

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
CheckOptions:
  - key:             performance-for-range-copy.WarnOnAllAutoCopies
    value:           true
  - key:             readability-static-accessed-through-instance.Name
    value:           true
...
